body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: none;
}

.form-group select {
    cursor: pointer;
}

.date-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #59A2C1;
    padding-bottom: 5px;
}

.visitor-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    background-color: #f9f9f9;
}

.visitor-info:first-child button {
    display: none;
}

.visitor-info button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #ff4d4d;
    font-size: 20px;
    cursor: pointer;
}

.visitor-info button:hover {
    color: #ff1a1a;
}

.add-button {
    position: relative;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #68D2E8;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
    background-color: #03AED2;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    color: white;
    background-color: #3097ff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 151, 255, 0.5);
}

.submit-button:hover {
    background-color: #007fff;
}