body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f0f2f5 url(../../static/background.jpg) no-repeat fixed center center;
    background-size: cover;
}

.container {
    margin-left: 200px;
    padding: 16px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    width: 90%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.header-container {
    text-align: center;
}

.search-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-container label {
    flex: 1 1 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.search-container input[type="date"],
.search-container input[type="text"],
.search-container select {
    flex: 1 1 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container input[type="date"]:focus,
.search-container input[type="text"]:focus,
.search-container select:focus {
    border-color: #79AAEF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23789baf' d='M2 0L0 2h4zM2 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
}

.search-container button {
    flex: 1 1 48%;
    padding: 10px 20px;
    background-color: #79AAEF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1), 0 2px 4px rgba(0, 123, 255, 0.1);
}

.search-container button:hover {
    background-color: #4886DE;
}

.table-container {
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

thead {
    background-color: #5E98EC;
    color: #fff;
}

thead th {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

thead th:last-child,
tbody td:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
}

thead th:last-child {
    background-color: #5593EB;
}

tbody td:last-child {
    background-color: #EDF4FD;
}

.foot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 2px solid #4886DE;
}

.foot-page {
    display: flex;
    align-items: center;
}

.foot-page a {
    color: #6899CC;
    text-decoration: none;
    margin: 0 10px;
}

.foot-page a:hover {
    color: #5089C4;
    text-decoration: underline;
    cursor: pointer;
}

.foot-add {
    display: flex;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

/* 公共预约管理页面的弹窗样式 */
.popup {
    width: 400px;
    max-height: 80vh; /* 限制弹窗的最大高度 */
    overflow-y: auto; /* 添加垂直滚动条 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    text-align: left;
    display: none;
}

.popup h2 {
    margin-top: 0;
    color: #4886DE;
}

.popup div {
    margin-bottom: 10px;
}

.popup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.popup span {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.popup button {
    width: 100%;
    padding: 10px 0;
    background-color: #79AAEF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1), 0 2px 4px rgba(0, 123, 255, 0.1);
}

.popup button:hover {
    background-color: #4886DE;
}
button {
    padding: 8px 16px;
    background-color: #79AAEF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1), 0 2px 4px rgba(0, 123, 255, 0.1);
}

button:hover {
    background-color: #4886DE;
}

button.modify, button.approve {
    background-color: #55A863;
}

button.modify:hover, button.approve:hover {
    background-color: #3D9C4D;
}

button.delete, button.reject {
    background-color: #D44366;
}

button.delete:hover, button.reject:hover {
    background-color: #C83659;
}

/* 部门管理员管理页面的弹窗样式 */
.popup-admin {
    width: 400px;
    max-height: 80vh; /* 限制弹窗的最大高度 */
    overflow-y: auto; /* 添加垂直滚动条 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    text-align: left;
    display: none;
}

.popup-admin h2 {
    margin-top: 0;
    color: #4886DE;
}

.popup-admin div {
    margin-bottom: 10px;
}

.popup-admin label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.popup-admin input[type="text"], .popup-admin select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.popup-admin button {
    width: 48%;
    margin: 5px 1%;
    padding: 10px 0;
    background-color: #79AAEF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1), 0 2px 4px rgba(0, 123, 255, 0.1);
}

.popup-admin button:hover {
    background-color: #4886DE;
}

button.modify-admin {
    background-color: #55A863;
}

button.modify-admin:hover {
    background-color: #3D9C4D;
}

button.delete-admin {
    background-color: #D44366;
}

button.delete-admin:hover {
    background-color: #C83659;
}
